@import 'common/reset.css';
@import 'font/font.css';

.CascadiaCode {
  font-family: 'CascadiaCode';
}

.img1 {
  width: 511px;
  height: 341px;
  background: url('@/assets/img/xiaobo.jpg') no-repeat center center;
  background-size: 100% 100%;
}
