<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
</head>

<body>
  <%= require('raw-loader!../../components/raw.html').default %>
    <main id="main">
      <a href="./">index</a>
      <a href="./page1.html">page1</a>
      <p class="CascadiaCode">CascadiaCode</p>
      <div class="img1 bg-red-400"></div>
      <div class="test">123</div>
    </main>
    <script type="">
      // js注入，type=""防止报错
      <%= require('raw-loader!babel-loader!../../utils/rem.js').default %>
    </script>
</body>

</html>