body {
  font-family: 'CascadiaCode', 'Microsoft YaHei' !important;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  margin: 0;
}

em,
i {
  font-style: normal;
}

ol,
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  outline: none;
  padding: 0;
}

input {
  outline: none;
  padding: 0;
}

img {
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
