* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 50px;
}

body {
    overflow-x: hidden;
}

h1 {
}

h3 {
    font-weight: normal;
}

h5 {
    font-weight: normal;
}

ol, ul, li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $linkColor;
    cursor: pointer;
}

a:link {
    text-decoration: none;
    color: $linkColor;
}

a:visited {
    text-decoration: none;
    color: $linkColor;
}

a:hover {
    text-decoration: none;
    color: $linkColor;
}

a:active {
    text-decoration: none;
    color: $linkColor;
}

a:focus {
    text-decoration: none;
    color: $linkColor;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}
