content_after(w) {
    content: ' ';
    position: absolute;
    right: 0;
    transform: translate(100%, -50%);
    top: 50%;
    width: w;
    height: 1px;
    background-color: #999999;
}

content_before(w) {
    content: ' ';
    position: absolute;
    left: 0;
    transform: translate(-100%, -50%);
    top: 50%;
    width: w;
    height: 1px;
    background-color: #999999;
}